<!--
  Standard launch file. for more information check http://wiki.ros.org/roslaunch/XML.
 -->
<launch>

  <!-- Args -->
  <arg name="config_override"        default="$(find ros1_pip_pytemplate)/config/httpbin-override.yaml" doc="used by upper launchers to customize configuration"/>

  <!-- Launch httpbin node -->
  <node pkg="ros1_pip_pytemplate" type="node_proactive.py" name="httpbin">
    <rosparam command="load" file="$(find ros1_pip_pytemplate)/config/httpbin-default.yaml" />
    <rosparam command="load" file="$(arg config_override)" />
  </node>

</launch>
