<!--
  Standard launch file. for more information check http://wiki.ros.org/roslaunch/XML.
 -->
<launch>

  <!-- Args -->
  <arg name="oracle_override"        default="$(find ros1_template)/config/oracle-override.yaml" doc="used by upper launchers to customize configuration"/>
  <arg name="prophet_override"        default="$(find ros1_template)/config/prophet-override.yaml" doc="used by upper launchers to customize configuration"/>

  <!-- Launch ROS template node -->
  <group ns="ros1_template">
      <include file="$(find ros1_template)/launch/oracle.launch">
        <arg name="config_override" value="$(arg oracle_override)"/>
      </include>
      <include file="$(find ros1_template)/launch/prophet.launch">
        <arg name="config_override" value="$(arg prophet_override)"/>
      </include>
  </group>

</launch>
